#!/bin/sh -ex

# This script is called with the following arguments:
# Arg Name
# $1 Interface name
# $2 The tty
# $3 The link speed
# $4 Local IP number
# $5 Peer IP number
# $6 Optional ``ipparam'' value foo

for i in $VPN_ROUTING_IPS; do
  ip route add \\$i dev \\$1
done
